/* Contenedor */
.card-container {
  padding: 16px;
  font-size: 0; 
}
/* Tarjetas */
.card {
  background-color: #b80fda;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 16px;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  font-size: 16px; 
  box-sizing: border-box;
}


@media (min-width: 768px) {
  .card {
    display: inline-block;
    width: calc(33.333% - 12px);
    margin-right: 12px;
    vertical-align: top;
    margin-bottom: 0;
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }
}
