/* Base: tamaño de fuente raíz */
html {
  font-size: 16px; /* 1rem = 16px */
}

body {
  font-family: Arial, sans-serif;
  padding: 1.25rem; /* 20px */
  font-size: 1rem;  /* 16px */
  line-height: 1.5;
}
h2{
    text-align: center;
}

/* Formulario */
form {
  max-width: 37.5rem; /* 600px */
  margin: 0 auto;
}

.grupo-formulario {
  margin-bottom: 0.9375rem; /* 15px */
}

label {
  display: block;
  margin-bottom: 0.3125rem; /* 5px */
  font-size: 1rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.5rem; /* 8px */
  font-size: 1rem;
  box-sizing: border-box;
}

@media (min-width: 48em) { 
  .fila-formulario {
    overflow: hidden;
  }

  .grupo-formulario.mitad {
    float: left;
    width: 48%;
    margin-right: 4%;
  }

  .grupo-formulario.mitad:last-child {
    margin-right: 0;
  }
}

/* Botón */
.grupo-formulario button {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 0.625rem; /* 10px */
  font-size: 1rem;
  cursor: pointer;
}
